<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<!-- 日志输出的目的地 ConsoleAppender 是将日志输出至控制台  -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--
			%d 时间格式
			%thread 线程
			%logger 类
			%-5level 级别  Error, Warn, Info, Debug, Trace
			%msg 日志具体内容
			%n 换行
		-->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT_SIMPLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<!-- logger 规定了哪些包的日志需要输出 name="要输出日志的包名"-->
	<logger name="com.jcx.mapper" level="debug" additivity="false">
		<appender-ref ref="STDOUT_SIMPLE" />
	</logger>

	<root level="warn">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>